{% load i18n thumbnail %}
<div{% if object.style %} class="{{ object.style }}"{% endif %}>
<h2>{{ object.title }}</h2>
{% if object.image or object.image_url %}
	{% if link %}<a href="{{ link }}"{% if obj.target_blank %} target="_blank"{% endif %}>{% endif %}
		<img alt="{% if object.alt %}{{ object.alt }}{% endif %}" src="{% if object.image_url %}{{ object.image_url }}{% else %}{% thumbnail object.image image_size crop,upscale %}{% endif %}" />
	{% if link %}</a>{% endif %}
{% endif %}
{% if object.description %}
<p>{{ object.description }}</p>
{% endif %}
{% if link %}<a href="{{ link }}"{% if obj.target_blank %} target="_blank"{% endif %}>{% trans "more" %} &#187;</a>{% endif %}
</div>